<h1>Hello from Rails</h1>
<p>Let's use some ruby code to make this dynamic...</p>
<p>It is now <%= @time %></p>

<p><%= link_to "Any text can go here.  It's all about getting the path right...", say_goodbye_path %></p>